*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(19,26,39);
}
.logo {
    margin-left: 100px;
}
.logo h1{
  color: wheat;
  font-weight: bolder;
  font-size: 40px;
}

 .list{
    display: flex;
    list-style: none;
    margin-right: 100px;
 }
 .list a{
    text-decoration: none;
    margin: 0px 30px;
    font-size: 25px;
    color: wheat;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
 }
   